body {
    #blurDetector {
        display: none;
    }
}

.Error {
    background-color: #EF9A9A;
    color: #B71C1C;
    text-align: center;
    padding: 15px;
    margin-bottom: 15px;
    font-size: 17px;
}
