@font-face {
    font-family: bpg-arial;
    src: url(./bpg-arial-2010.ttf);
}

@font-face {
    font-family: bpg-web-002;
    src: url(./bpg-web-002-webfont.ttf);
}

@font-face {
    font-family: bpg-web-002-caps;
    src: url(./bpg-web-002-caps-webfont.ttf);
}

.bpg-arial {
    font-family: bpg-arial;
}

.bpg-web-002 {
    font-family: bpg-web-002;
}

.bpg-web-002-caps {
    font-family: bpg-web-002-caps;
}

.fs-22 {
    font-size: 22px !important;
    line-height: 29px !important;
}

.fs-20 {
    font-size: 20px !important;
    line-height: 30px !important;
}

.fs-18 {
    font-size: 18px !important;
    line-height: 28px !important;
}

.fs-16 {
    font-size: 16px !important;
    line-height: 24px !important;
}

.fs-14 {
    font-size: 14px !important;
    line-height: 20px !important;
}



@media screen and (max-width: 1500px) {
    .fs-22 {
        font-size: 12px !important;
        line-height: 18px !important;
    }

    .fs-20 {
        font-size: 13px !important;
        line-height: 20px;
    }

    .fs-18 {
        font-size: 13px !important;
        line-height: 23px !important;
    }

    .fs-16 {
        font-size: 12px !important;
        line-height: 20px !important;
    }

    .fs-14 {
        font-size: 11px !important;
        line-height: 18px !important;
    }
}

@media screen and (max-width: 960px) {
    .fs-22 {
        font-size: 12px !important;
        line-height: 18px !important;
    }

    .fs-20 {
        font-size: 10px !important;
        line-height: 15px !important;
    }
}

* {
    margin: 0;
}

.App {
    margin: 0px;
    min-height: 100vh;
    width: 100% !important;

    .main-container {
        min-height: calc(100vh - 110px);
    }
}

@media screen and (max-width: 960px) {
    .App .main-container {
        padding-bottom: 60px;
    }
}
