.Dashboard {

    .progress {
        text-align: center;
        margin-top: 20px;
    }

    .empty-page {
        background-color: #f1eff7;
        flex: 5;
        text-align: center;
        color: #bbb6c0;
        padding-top: 150px;
    }

    .dashboard-content {
        display: flex;

        .list {
            min-height: 92vh;
            background-color: white;
            min-width: 200px;
        }
    }

    .Verification {
        background-color: #f1eff7;
        flex: 5;

        .card {
            height: fit-content;
            margin: 20px 20px;
            padding: 35px 0;

            .timer {
                text-align: center;
                margin-bottom: 20px;
            }
    
            .card-title {
                margin-left: 5%;
            }
    
            .card-content {
                .img-cmp {
                    display: flex;
                    justify-content: center;

                    * {
                        margin: 0 5px;
                    }
                }
    
                .card-img {
                    display: flex;
                    justify-content: center;
                    flex-direction: column;
                    text-align: center;
                    height: 280px;
                    min-width: 30%;

                    img {
                        height: 280px;
                    }

                    img:hover {
                        cursor: zoom-in;
                    }
                }
        
                .card-actions {
                    margin-top: 50px;
                    text-align: center;  
                    justify-content: center;      
    
                    * {
                        margin: 0 50px;
                    }
                }
    
                .text-field {
                    text-align: start;
                    width: 190px;
                    font-size: 19px !important;
                }

                .with-helper {
                    margin-bottom: -18px;
                }

                .gender-select > div > div{
                    font-size: 19px !important;
                }
            }    
        }
    }

    .logo {
        height: 50px;
        padding: 15px;
    }

    .property-details {
        display: flex;
        width: fit-content;
        margin: 40px auto;

        .property-group {
            margin-bottom: 20px;
            display: flex;
            margin: 0 35px;

            .property-col {
                flex: 1;
                text-align: center;
                display: flex;
                flex-direction: column;  
                margin: 0 25px; 

                .field-wrapper {
                    margin-bottom: 40px;
                }
                
            }
        }
    }

    .btn {
        width: 140px;
    }

    .decline-select-form {
        min-width: 140px;
    }
}

#decline-popper-content {
    min-width: 140px;
    display: flex;
    flex-direction: column;   
}  

.accept-alert {
    color: #09c04a !important;
    border-color: #09c04a !important;
}

.decline-alert {
    color: #ea0049 !important;
    border-color: #ea0049 !important;
}

.zoom {
    height: 520px;
}

.zoom:hover {
    cursor: zoom-out;
}

.hide {
    display: none !important;
}