.ScanCard {
    display: table;
    margin: 0 auto;
    text-align: center;
    p {
        margin: 5px 0;
        &.title {
            font-size: 24px;
            font-weight: bold;
            color: #7c7786;
            font-family: BPG-Nino-Mtavruli;
            margin-top: 25px;
        }
        &.subtitle {
            color: #c2c1ce;
            font-size: 13px;
        }
    }
    .wrapper {
        width: '700px';
        height: '500px';
        margin: '10px auto';
        position: relative;
        #canvas {
            transform: scaleX(-1);
            transition: 0.5s filter ease-in-out; // filter: brightness(50%);
            &.blur-effect {
                filter: blur(8px);
            }
        }
        #canvas3 {
            display: none;
        }
        #frame {
            position: absolute;
            left: 0; // background: rgba(2, 46, 74, 0.5);
            &::after {
                content: '';
                position: absolute;
                width: 58px;
                height: 8px;
                background-image: linear-gradient(to bottom, rgba(170, 184, 190, 0), rgba(170, 184, 190, .8));
                animation: scanning .8s linear infinite;
            }
        }
    }
    @keyframes scanning {
        100% {
            transform: translate(0, 52px);
        }
    }
    .proceed {
        height: 500px;
        position: absolute;
        background: rgba(2, 46, 74, 0.8);
        width: 700px;
        z-index: 1;
        .items {
            margin-top: 165px;
            svg {
                margin-bottom: 10px;
                path {
                    fill: #fff;
                }
                &.clear {
                    width: 49px;
                }
            }
            p {
                color: #fff;
            }
            button {
                background-color: #d44e7f;
                border: 0;
                padding: 15px 30px;
                border-radius: 25px;
                color: #fff;
                margin-top: 25px;
                font-family: "BPG-Nino-Mtavruli";
                font-weight: bold;
                cursor: pointer;
                outline: 0;
                &:hover {
                    background-color: #d44e7fe0;
                }
            }
        }
        .mrz-loading {
            font-family: BPG-Nino-Mtavruli;
            font-size: 24px;
            color: #ffff;
            display: flex;
            justify-content: center;
            align-items: center;
            height: 100%;
        }
    }
}
