.ScanFace {
    display: table;
    margin: 0 auto;
    position: relative;
    text-align: center;
    p {
        margin: 5px 0;
        &.title {
            font-size: 24px;
            font-weight: bold;
            color: #7c7786;
            font-family: BPG-Nino-Mtavruli;
            margin-top: 25px;
        }
        &.subtitle {
            color: #c2c1ce;
            font-size: 13px;
        }
    }
    .wrapper {
        position: relative;
        video {
            &.blur-effect {
                filter: blur(8px);
            }
        }
        canvas {
            position: absolute;
            left: 0;
        }
        video,
        canvas {
            transform: scaleX(-1);
            margin-bottom: 30px;
        }
        .face {
            position: absolute;
            top: 70px;
            width: 100%;
            img {
                width: 240px;
            }
        }
        .addional-layer {
            position: absolute;
            top: 0;
            width: 100%;
            height: calc(100% - 33px);
            background: rgba(2, 46, 74, 0.8);
            color: #fff;
            .loading {
                font-family: BPG-Nino-Mtavruli;
                font-size: 24px;
                color: #ffff;
                display: flex;
                justify-content: center;
                align-items: center;
                height: 100%;
            }
            div {
                margin-top: 165px;
                svg {
                    margin-bottom: 10px;
                    path {
                        fill: #fff;
                    }
                    &.clear {
                        width: 49px;
                    }
                }
                p {
                    color: #fff;
                }
                button {
                    background-color: #d44e7f;
                    border: 0;
                    padding: 15px 30px;
                    border-radius: 25px;
                    color: #fff;
                    margin-top: 25px;
                    font-family: "BPG-Nino-Mtavruli";
                    font-weight: bold;
                    cursor: pointer;
                    outline: 0;
                    &:hover {
                        background-color: #d44e59;
                    }
                }
            }
        }
    }
}
